
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}

.nssmessage{
    display: none;
}
.contacts-head{
    display: flex;
    width: 100vw;
    height: 30vw;
    position: relative;
    /* top: 4.5vw; */
    background-color: transparent;

}
.contacts-layer{
    width: 100vw;
    height: 30vw;
    position: absolute;
       background-color: rgb(0 0 0);
    opacity: 10%;
}
/* .clgheading{
    font-size: 3vw;
    position: absolute;
    text-align: center;
    top: 6.5vw;
    left: 5vw;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
} */


#moto{
    width: 50%;
    position: absolute;
    margin: 1px;
    letter-spacing: 9px;
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    color: #f9a000;
     font-weight: 500;
    transition-duration: 0.2s;

}
#moto:hover{
    color: #f9a000;
    font-size: 3.2vw;
    transition-duration: 0.2s;
}
/* .clgheading p{
    width: 100%;
    margin: 1px;
    letter-spacing: 10px;
    font-size: 6vw;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;  
     color: #868686;
    
} */


/* .clgpic img{
    width: 50%;
    height: 30vw;
    margin-left: 50%;

} */

#options {
    display: none;
    width: 5.5vw;
    height: 5.5vw;
    border: none;
    outline: none;
    /* background-color: #31398a; */
    position: fixed;
    left: 0vw;
    top: 0vw;
    padding: 0;
    transition-duration: 1.2s;
    transition-property: all;

}

#options i {
    font-size: 5vw;
}
#hr1{
    display: none;
    visibility: hidden;
}

.contacts {
    height: 25vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    /* top: 30.5vw;
    left: 13.5vw; */
}
.container{
    padding: 5px;
       
        display: flex;
        flex-direction: column;
        border: none;
        width: 20vw;
        height: 9vw;
        justify-content: center;
        align-items: center;
}
.container:hover{
/* border: 1px solid; */
border-radius: 10px;
box-shadow: 0vw 0vw 2px black;
transform: scale(1);
transition-duration: 0.2s;
}
.name pre {
    margin: 0;
    font-size: 2vw;
    font-family: "Kanit", sans-serif;
    color: #f9a000;
     font-weight: 500;
}
.role pre{
    margin: 0;
    font-family: fantasy;
    font-size: 1.5vw;
    font-weight: 500;
    color: #000;
}
.phone pre{
    margin: 0;
    font-family: fantasy;
    font-size: 1.5vw;
    font-weight: 500;
    color: #000;
}
.mail pre{
    margin: 0;
    font-family: fantasy;
    font-size: 1.5vw;
    font-weight: 500;
    color: #000;
}

#share{
    display: none;
}

/* .user-sugg{
    width: 60vw;
    height: auto;
    min-height: 20vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 5px;
    background-color: #ffbf58;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
   transition-duration: 0.5s;
    margin-top: 5vw;
    margin-bottom: 0;
} */
.user-sugg h2{
    margin: auto;
}

#exp-cont{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 20vw;
}

/* .user-sugg input{
    font-size: 1.3vw;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px black;
    height: 4vh;
    outline: none;
    margin: 1vw;;
   
    
}

.user-sugg textarea{
    font-size: 1.3vw;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px black;
min-height: 10vw;
max-height: 10vw;
margin: 1vw;

}
.user-sugg button{
    font-size: 1.3vw;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px;
    width: fit-content;
    margin:5px 2px 2px 90% ;
    cursor: pointer;
    display: none;
} */
.emailok{
    
        width: fit-content;
        font-size: 1.5vw;
        position: relative;
        background-color: white;
        color: #f9a000;
        font-family: "Kanit", sans-serif;
        box-shadow: 0 0 4px black;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 3px;
        animation: none;
        margin-top: -2vw;
        margin-left: 1vw;
        margin-bottom: 1vw;
        display: none;
    
}

@keyframes email {
    0%{
        transform:rotateZ(2deg);
        /* transform: scale(1.05); */
    }
    10%{
        transform:rotateZ(-2deg);
        /* transform: scale(1);        */
    }
    20%{
        transform:rotateZ(2deg);
        /* transform: scale(1.05);        */
    }
    30%{
        transform:rotateZ(-2deg);
        /* transform: scale(1);        */
    }
    40%{
        transform:rotateZ(2deg);
        /* transform: scale(1.05);        */
    }
    50%{
        transform:rotateZ(-2deg);
        /* transform: scale(1);        */
    }
    60%{
        transform:rotateZ(2deg);
        /* transform: scale(1.05);        */
    }
    70%{
        transform:rotateZ(-2deg);
        /* transform: scale(1);        */
    }
    80%{
        transform:rotateZ(2deg);
        /* transform: scale(1.05);        */
    }
    90%{
        transform:rotateZ(-2deg);
        /* transform: scale(1);        */
    }
    100%{
        transform:rotateZ(2deg);
        /* transform: scale(1.05);        */
    }
}

