body{
    margin: 0;
    padding: 0;
}

#options{
    display: none;
}
.header {
    height: 3.5vw;
    position: sticky;
    top: 0vw;
    box-sizing: border-box;
    width: 100vw;
    background-color: #fff;
    color: #f9a000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 -10px 15px black;
    z-index: 10;
}
.header iframe{display: none;}
.header ul {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 2px 20px;
    margin: 0;
}
.header ul a{
    color: #f9a000;
    
    text-decoration: none;
}

.selbtn1 {
    width: 10vw;
    height: auto;
    border-radius: 2vw;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.4vw;
   color: #f9a000;
    margin: 2px 14px;
    font-weight: 600;
    transition-duration: 0.3s;
    padding: 4px;
}

#selbtn12 {
    width: 15vw;
    font-size: 1.3vw;

}

.selbtn1:hover {
    color: #f9a000;
    background-color: #ffedcd;
    box-shadow: 0vw 0vw 1px #ffedcd;
    cursor: pointer;
    transition-duration: 0.2s;
}


@media screen and (max-width: 480px){
    

    .header{
        display: none;
        flex-direction: column;
        width: 98vw;
        height: 90vh;
        position: fixed;
        left: 1vw;
        top: 52vw;
        align-content: flex-start;
        justify-content: space-evenly;
        z-index: 4;
        border-radius: 10px;
        box-shadow: 0px 0px 15px black;
        
        background-color: #ffbf58;
   animation: header 0.5s  1 ease;
    }
    @keyframes header {
     from{top: -50vw;}
     to{top: 52vw;}
    }
    .header iframe{
        display: block;
        border: none;
        width: 95%;
        height: 30%;
        top: -5vw;
        position: relative;
    }
    .header nav{
        position: relative;
        top: -26vw;
    }
    .header ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        padding: 2px 20px;
        left: 0vw;
        top: 0vw;
    }
    .selbtn1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        box-sizing: border-box;
        width: 70vw;
        height: 5vw;
        font-size: 5vw;
        margin: 2vw;
        height: 7.5vw;
        background-color: #fff;
        color: #f9a000;
        border-radius: 5px;
        box-shadow:0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
    
    }
    #selbtn12{
        width: 70vw;
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 700px){
    @media  screen and (max-width:1024px) {
        
        #selbtn12{
            font-size: 2.2vw;
            width: fit-content;
            margin: 2px 0;
        }
    }}