@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (max-width: 480px){
    body{
        overflow-x: hidden;
       
    }
    body::-webkit-scrollbar{
        display: none;
    }
    
    .nssmessage{
        margin-top: 20vw;
        width: 95%;
        height: auto;
        font-family: "Kanit", sans-serif;
        font-size: 30px;
        color: #fff;
        display: block;
    }
 
   .head-logo {
     display: none;
    }
    
    .clgname {
        width: 100vw;
        height: 50vw;
        position: relative;
        top: 0vw;
        background-color: aquamarine;
    }
    .clgnamelayer{
        height: 50vw;
    }
    .clgpic img{height: 50vw;}
    .clgheading{
        top:13.5vw;
        left: 3vw;
    }
    .clgheading p {
        width: 60%;
        margin: 1px;
        letter-spacing: 2px;
        font-size: 10vw;
        top: 10vw;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        /* font-style: italic; */
        color: #fff;
    }

    #homeclgheading{
        width: 70%;
        color: #fffbee;
        font-weight: 600;
        backdrop-filter: blur(2px);
        top: 0vw;
    }

    #moto {
        position: absolute;
        height: 8vw;
        top: 8vw;
        font-weight: 600;
        /* left: 50vw; */
        margin: 1px;
        letter-spacing: 3px;
        font-size: 6vw;
        font-family: "Kanit", sans-serif;
        color: #ff9d00;
        font-weight: 700;
        animation-name: typing1;
        display: none;
    }
    @keyframes typing1 {
        from { width: 0 }
        21.42%{
            width: 25%;
        }
        30%{
            width: 25%;
        }
        50%{ width: 65% }
        to{
            width: 0;
        }
      }
    
    #options {
        background-color: transparent;
        top: 0vw;
        display: initial;
        z-index: 5;
        transition-duration: 1.2s;
        transition-property: all;
    }
    #options i{
        font-size: 7.5vw;
    }
   
 .piccont-upeve{   
    position: relative;
    /* top: 30vw; */
    margin: auto;
    height:auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 10px;
}


    .pic_container {
        /* display: flex; */
        width: 98vw;
        height: 60vw;
        position: relative;
        /* top: 25.3vw; */
        left: 0vw;
        z-index: 0;
        overflow: hidden;
        box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
        margin-top: 10px;
        box-sizing: border-box;
    }
    .sneak-peak {
        position: absolute;
        width: 98vw;
        height: 60vw;
        transition-duration: 1.5s;
       
    }
    .sneak-peak-layer {
        position: absolute;
        width: 98vw;
        height: 60vw;
        background-color: rgb(0 0 0);
        opacity: 45%;
        z-index: 1;
        font-size: 10.5vw;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        color: #ff9d00;
        text-align: center;
        text-transform: uppercase;
    }
    #gotoeve {
        width: 35vw;
        font-size: 4.5vw;
        border-radius: 0px 5px 5px 0px;
        height: 6vw;
        top: 50vw;
        box-shadow:0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
    }

    .nav-next-prev{
        font-size: 3.5vw;
        height: 5.5vw;
        width: 5.5vw;
    }
    .nav-next-prev svg{
        font-size: 4.5vw;
    }
    #nav-next_sneak {
        opacity: 0;
        z-index: 2;
        position: absolute;
        
        left: 91vw;
        top: 25vw;

        border-radius: 10px;
        outline: none;
        border: none;
        padding: 1px 0px;
    }
    #nav-prev_sneak {
        opacity: 0;
        position: absolute;
       
        left: 1.5vw;
        top: 25vw;
      
        border-radius: 10px;
        padding: 1px 0px;
        outline: none;
        border: none;
        z-index: 2;
    }
    
    .eventscroll {
        position: relative;
        /* top: 85vw; */
        right: 0vw;
        width: 98vw;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        overflow-y: scroll;
        box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
    }
 
    .eventscroll::-webkit-scrollbar{
        display: none;
    }
    .eventscroll h4 {
        margin: 2px;
        font-size: 7.5vw;
        position: relative;
        top: 0vw;
        left: 1vw;
        font-family: 'Poppins', sans-serif;
    }
    .events {
        position: relative;
        width: 98%;
        margin: 5px 1%;
        background-color: #ffbf58;
        font-family: "Kanit", sans-serif;
        height: auto;
        min-height: 12vw;
        border-radius: 6px;
        z-index: 2;
        font-size: 4.5vw;
        font-weight: 400;
    }
    .up-event-des {
        display: none;
        position: relative;
        top: 25%;
        left: 0vw;
        width: 100%;
        height: auto;
        background-color: #fff;
        border-radius: 10px;
        z-index: 4;
        font-size: 1vw;
        font-family: 'Poppins', sans-serif;
       
    }
    .upeveloading {
        width: 100%;
        height: 65vw;
    }
    .des-img {
        position: relative;
        border: 2px solid white;
        top: 0vw;
        width: 100%;
        height: 65vw;
        left: 0vw;
        border-radius: 10px;
        box-shadow: none;
        box-sizing: border-box;
    }
    .des-img img{
        border-radius: 10px;
    }
    
.event-des {
    padding: 0px 5px 0px 5px;
    font-size: 4vw;
    position: relative;
    box-shadow:none;
    top: 0vw;
    width: 100%;
    height: auto;
    left: 0vw;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    background-color: white;
    opacity: 99%;

}
    #close1 {
        position: absolute;
        width: 5.5vw;
        height: 5.5vw;
        left: 91vw;
        top: 1vw;
        background-color: red;
        font-size: 5vw;
        box-shadow: none;
    }
    #eventscroll1 {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0vw;
        left: 0vw;
        width: 98vw;
    }

   

    ul{
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        position: absolute;
        top: 1vw;
        left: 1vw;
    }


    .selbtn1:hover{
        background-color: #6c63ff;
        color: white;
    }
    
    
   
    .about {
        position: relative;
        left: 0vw;
        top: 0vw;
        width: 98vw;
        height: 65vw;
        margin: 0vw auto;
        box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
        box-sizing: border-box;
        /* padding: 3px; */
    }
    .backimg img {
        width: 49.6vw;
        height: 65vw;
        overflow: hidden;
        position: relative;
    }
    .aboutlayer {
        background-color: #ffbf58;
        height: 65vw;
        position: absolute;
        opacity: 1;
        z-index: 0;
        width: 98vw;
    }
    .abouthead{
        position: relative;
        width:50vw;
        margin: 0;
        top: 10vw;
        font-weight: 600;
        font-size: 7.5vw;
        color: #fff;
        font-family: "Kanit", sans-serif;
        padding: 1vw;
        box-sizing: border-box;
    }
    .about:hover{
        overflow-y: scroll;
        .abouthead{
            transform: translateY(-10vw);
            width: 100vw;
            font-size: 5.5vw;
        }
         p {
            display: block;
        }
       
    }
    .about p {
        font-size: 4vw;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        display: none;
    }
  
    .testimonials {
        width: 85vw;
        height: 140vw;
        /* margin-left: auto; */
        position: relative;
        top: 10vw;
        left: 7.5vw;
        background-color: #fff;
        border-radius: 0px;
        overflow: hidden;
        margin: 6vw 0;
    }
    .testimonials h3{
        margin-top: 0;
    position: relative;
    left: 15vw;
    font-size: 6vw;
    font-family: "Kanit", sans-serif;
    color: #f9a000;
    left: 0;
    margin: auto;
    width: fit-content;
    margin-bottom: 2vw;
    letter-spacing: 10px;
    }
    .test-slides {
        width: 85vw;
        height: 130vw;
        background-color: #fff;
        position: absolute;
        border-radius: 20px;
        transition-duration: 2s;
    }
    .testimony-img {
        position: relative;
        top: 0vw;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45vw;
        height: 60vw;
        border: none;
        box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
        border-radius: 5px;
    }
    .testimony-img img{
        border-radius: 5px;
        width: 98%;
        height: 98%;
    }
    .testimony-matter {
        padding: 2px;
        position: relative;
        top: 3vw;
        /* margin-left: unset; */
        left: 0vw;
        width: 84vw;
        height: 55vw;
       
        border-radius: 5px;
        font-size: 4vw;
        letter-spacing: 1px;
        overflow-y: scroll;
    }
    .testimony-matter pre{
        font-size: 1.9vw;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    .testimony-details {
        position: relative;
        top: 1vw;
        left: 0vw;
        width: 60vw;
        height: 7vw;
       box-shadow: none;
        border-radius: 2px;
      
    }
   #test-name{
    font-size: 5.0vw;
    font-family: "Kanit", sans-serif;
    position: relative;
    /* top: -1vw; */
    left: 0vw;
    width: 60vw;
    height: 6vw;
    background-color: transparent;
   }
    #nav-next {
        position: relative;
       
        left: 71.5vw;
        width: 7.5vw;
        height: 7.5vw;
        border-radius: 10px;
        outline: none;
        border: none;
    }
    #nav-prev {
        position: relative;
         left:-3.5vw;
        /* top: 23vw; */
        width: 7.5vw;
        height: 7.5vw;
        border-radius: 10px;
        outline: none;
        border: none;
        z-index: 3;
    }

.user-sugg{
    width: 90vw;
    height: auto;
    min-height: 100vw;
    margin-top: 25vw;
    margin-bottom: -25vw;
    position: relative;
}
.user-sugg input{
    height: 8vw;
    font-size: 3.5vw;
}
.user-sugg textarea{
    font-size: 3.5vw;
}
.user-sugg button{
    margin: 5px 2px 2px 85%;
    font-size: 3.5vw;
}
.exp{
    margin: 1vw 0.5%;
}
.sugg-display{
    height: 85vw;
}
.sugg-display iframe{
    width: 100%;
    height: 98%;
    border: none;
}
.sharehead-cont{
    height: 14vw;
}
.user-sugg input{
    font-size: 4vw;
}
.user-sugg h2{
    font-size: 4.2vw;
}
.user-sugg textarea{
    font-size: 4vw;
    min-height: 25vw;
    max-height: 25vw;
}
.suggestion{
    font-size: 4vw;
}
.sugg-det{
    font-size: 4vw;
}
#sugg-display-btn{
    font-size: 4vw;
}
.user-sugg button {
    font-size: 4.3vw;
    margin: 5px 2px 2px 80%;
}
   


  

   
}

@media screen and (min-width: 700px){
    @media  screen and (max-width:1024px) {
        body{
            overflow-x: hidden;
        }
        .nssmessage{display: none;}
    .head-logo{
        left: 1vw;
        width: 5vw;
    }
    #headlogo2 {
        top: 0vw;

    } 
    #headlogo1{
        top: 0vw;
    }  
    .header{
        height: 6vw;
    }
    .header ul{
        padding: 2px 0;
    }
    .clgheading{
        top: 4.5vw;
    }
    .clgheading p{
        font-size:7vw ;
        letter-spacing: 5px;
        top: 00vw;
    }
    #moto{
        font-size: 5vw;
        top: 7vw;
        font-weight: 600;
        animation-name: typing2;
    }
    #gotoeve{
        width: 20vw;
        font-size: 2.5vw;
        height: 4vw;
        border-radius: 8px 8px  8px 0;
    }
    @keyframes typing2 {
        from { width: 0 }
        21.42%{
            width: 20%;
        }
        30%{
            width: 20%;
        }
        50%{ width: 50% }
        to{
            width: 0;
        }
      }
    .selbtn1{
        font-size: 2.5vw;
        width: fit-content;
    }
    #selbtn12 {
        font-size: 2.1vw;
        width: fit-content;
    }
    .piccont-upeve{
        height: auto;
        flex-direction: column;
    }
    .pic_container{
        height: 50vw;
        width: 100%;
        margin: 10px;
    }
  
    .sneak-peak-layer{
        height: 50vw;
    }
    .sneak-peak{
        height: 50vw;
    }
    .nav-next-prev{
        width: 3.5vw;
        height: 3.5vw;
    }
    .nav-next-prev i{
        font-size: 2vw;
    }
    #nav-next_sneak{
        left: 93vw;
    }
    .upeveloading{
        width: 100%;
        height: 50vw;
    }
    .eventscroll{
        position: relative;
        /* top: 35vw; */
        right: 0vw;
        width: 100%;
        height: auto;
        background-color: #fff;
      
        overflow-y: scroll;
        border-radius: 1vw;
        box-shadow: 0 0 1vw;
    }
    .eventscroll h4{
        font-size: 4.5vw;
        position: relative;
        left: 0;
        box-sizing: border-box;
        padding-left: 10px;
    }
    #eventscroll1{
        top: 0vw;
        width: 98%;
        position: relative;
        height: auto;
    }
    .events{
        font-size: 2.5vw;
        height: 4.5vw;
        width: 98%;
        position: relative;
        height: auto;
        min-height: 7vw;
    }
    .eventscroll::-webkit-scrollbar{
        display: none;
    }
    .up-event-des{
        height: auto;
    }
    .event-des{
        top: 5vw;
        width: 100%;
        height: auto;
    }
    .event-des::-webkit-scrollbar{
        width: 1vw;
        display: initial;
    }
    .event-des::-webkit-scrollbar-thumb{
       color: #f9a000;
    }

    .event-des p{
        font-size: 2.5vw;
    }
    .des-img{
        width: 100%;
        height: 50vw;
        left: 0vw;
        top: 5vw;
    }
    #close1{
        width: 3.5vw;
        height: 3.5vw;
        left: 64vw;
        font-size: 2.5vw;
    }

    .about{
        height: 40vw;
        top: 0vw;
    }
    .abouthead{
        top: 15vw;
    }
    .about:hover{
        overflow: scroll;
    }
    .aboutlayer{
        height: 40vw;
    }
    .backimg img{
        height: 40vw;
    }
    .about p{
        font-size: 2.9vw;
        color: #fff;
        padding: 5px;
        box-sizing: border-box;
        margin: 5px 0;
        font-family: "Kanit", sans-serif;
    }
    .testimonials{
        height: 70vw;
        border-radius: 0;
    }
    .test-slides{
        height: 70vw;
    }
    .testimonials h3{
        width: fit-content;
        font-size: 4vw;
        left:14vw;
        letter-spacing: 10px;
    }
    .testimony-img{
        width: 30vw;
        height: 30vw;
        box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
        border: 1px solid white;
    }
    .testimony-details {
        top: 0vw;
        left: 0vw;
        width: 85vw;
        height: 8vw;
        box-shadow: none;
        border-radius: 5px;
    }
    #test-name{
        font-size: 3.5vw;
        background-color: transparent;
    }
    .testimony-matter{
        letter-spacing: 1px;
        font-size: 2.7vw;
        width: 70vw;
        height: 20vw;
    }


    .user-sugg{
        width: 80vw;
        min-height: 50vw;
        top: 5vw;
    }
    .sugg-display{
        height: 45vw;
    }
    .user-sugg input{
        font-size: 2.5vw;
    }
    .user-sugg textarea{
        font-size: 2.5vw;
    }
    .user-sugg button{
        font-size: 2.5vw;
        margin: 5px 2px 2px 85%
    }
    .sharehead-cont{
        height: 5vw;
    }
    #sugg-display-btn{
        font-size: 2.5vw;
        background-color: #fff;
    }
    .suggestion{
        font-size: 2.5vw;
    }
    .sugg-det{
        font-size: 2.5vw;
    }






    .foot{
        height: auto;
    }
    .content{
        height: 50vw;
        align-items: normal;
    }
    .addresscont{
        font-size: 2vw;
        height: 40vw;
    }
    .quicklink{
        font-size: 2vw;
        height: 30vw;
    }
    .quicklink a{
        font-size: 2vw;
    }

    .location-head{
        font-size: 2vw;
        height: 40vw;
    }
    .majorobj{
        width: 25vw;
        height: 30vw;
    }
    .instalink{
        font-size: 2vw;
    }
    .instalink a{
        font-size: 2vw;
    }


    .copyright {
        font-size: 2vw;
        color: white;
        position: relative;
        top: -2vw;
        left: 2vw;
        width: fit-content;
    }
    .instalink pre{
        position: relative;
        top: -9vw;
        left: 49vw;
        font-size: 2vw;
    }
}}
@media screen and (min-width: 1025px){
    @media screen and (max-width:1200px) {
        
   
    .eventscroll{
        position: relative;
    /* top: 35vw; */
    right: 0vw;
    width: 39.5%;
    height: 28vw;
    background-color: #fff;
  
    overflow-y: scroll;
    border-radius: 1vw;
    box-shadow: 0 0 1vw;

}
.testimony-matter{
    font-size: 1.7vw;
}
.nssmessage{display: none;}
.copyright{width: fit-content;}
.sugg-det{
    font-size: 1.5vw;
}
.suggestion{
    font-size: 1.8vw;
}
}
}
@media  screen and (min-width:1200px) {
    .eventscroll{
        position: relative;
    /* top: 35vw; */
    right: 0vw;
    width: 39.5%;
    height: 28vw;
    background-color: #fff;
  
    overflow-y: scroll;
    border-radius: 1vw;
    box-shadow: 0 0 1vw;

}
.nssmessage{display: none;}
.eventscroll::-webkit-scrollbar{
    display: none;
}
@media screen and (min-width: 1000px){
    @media  screen and (max-width:1400px){
        .instalink pre{
            position: relative;
            top: -9vw;
            left: 49vw;
            font-size: 2vw;
        }
    }
}
.nssmessage{display: none;}

}@media  screen and (min-width:1400px) {
    .eventscroll{
        position: relative;
        /* top: 35vw; */
        right: 0vw;
        width: 39.5%;
        height: 28vw;
        background-color: #fff;
      
        overflow-y: scroll;
        border-radius: 1vw;
        box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);

}.eventscroll::-webkit-scrollbar{
    display: none;
}
.nssmessage{display: none;}
}