@media screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
        
    }
    body::-webkit-scrollbar{
        display: none;
    }
    #foot1{
        top: 0vw;
    }
    .nssmessage{
        margin-top: 20vw;
        width: 95%;
        height: auto;
        font-family: "Kanit", sans-serif;
        font-size: 30px;
        color: #fff;
        display: block;
    }
 
    .head-logo {
     display: none;
    }
    
    .events-head {
        z-index: 2;
        width: 100vw;
        height: 50vw;
        position: relative;
        top: 0vw;
        background-color:transparent;
    }
    .events-layer{
        height: 50vw;
    }
    .clgpic{
        width: 100%;
        left: 0;
    }
    .clgpic img{
        height: 50vw;
    }
    .clgheading{
        font-size: 3vw;
        position: absolute;
        text-align: center;
        top: 15vw;
        left: 0vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    #moto{
        width: 50%;
        position: relative;
        margin: 1px;
        letter-spacing: 9px;
        font-size: 3vw;
        font-family: "Kanit", sans-serif;
        color: #f9a000;
         font-weight: 500;
        transition-duration: 0.2s;
    
    }
    #moto:hover{
        color: #f9a000;
        font-size: 3.2vw;
        transition-duration: 0.2s;
    }
    .clgheading p{
        width:80%;
        margin: 1px;
        letter-spacing: 10px;
        font-size: 8vw;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
         color: #fff;
    }
    #options {
        background-color: transparent;
        top: 0vw;
        display: initial;
        z-index: 5;
        transition-duration: 1.2s;
        transition-property: all;
    }
   
#options i{
    font-size: 7.5vw;
}




.batch_container{
    height:auto;
    max-height: none;
    top: 0vw;
}



/* codéfor pics */
.team-heads {
    display: flex;
    justify-content: flex-start;
    height: auto;
    box-sizing: border-box;
    padding: 5vw 0;
}
.team-head {
    display: flex;
    margin: 3px 5px;
    width: 47vw;
    height: 60vw;
    /* border: 0.7px solid black; */
    border-radius: 6px;
    position: relative;
    top: 0vw;
    transition-duration: 0.2s;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.team-head img {
    width: 40vw;
    position: relative;
    top: 0vw;
    border-radius: 5px;
    height: 45vw;
    box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
}

.members-head {
    display: flex;
    justify-content: space-around;
    height: auto;
    box-sizing: border-box;
    /* padding: 5vw 0; */
    width: 100vw;
    margin: 0;
    height: auto;
    left: 0;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


    .managers {
        display: flex;
        justify-content: space-around;
        height: auto;
        box-sizing: border-box;
        top: 5vw;
        width: 100vw;
        margin: 0;
        height: auto;
        left: 0;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }


.members {
    display: flex;
    margin: 6px 3px;
    width: 47vw;
    height: 60vw;
    box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
    border-radius: 6px;
    position: relative;
    top: 0vw;
    transition-duration: 0.2s;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.members img {
    width: 44vw;
    position: relative;
    top: 0vw;
    border-radius: 5px;
    height: 45vw;
}
.position {
   
    position: relative;
    top: 0vw;
    left: 0vw;
    width: 33vw;
    height: 4vw;
    font-size: 3.2vw;
    text-align: center;
}
.position-noel {
    left: 0vw;
    position: relative;
    top: 0vw;
    width: 50vw;
    height: 5vw;
    font-size: 3.2vw;
    text-align: center;
}
.head-name {
    position: relative;
   top: 0vw;
    width: fit-content;
    left: 0vw;
    height: 5vw;
    font-size: 4vw;
    text-align: center;
}
.head-position{
    position: relative;
}
.head-position-noel{
    position: relative;
}
.head-name-noel {
    position: relative;
    top: -1vw;
    left: 0vw;
    width: 50vw;
    height: 5vw;
    font-size: 4vw;
    text-align: center;
}

.prev-batches {
    position: relative;
    top: 25vw;
    width: 100vw;
    margin: 0px;
    height: 12vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.prev-batches button {
    font-size: 3.5vw;
    position: relative;
    margin: 5px 5px;
    top: 0vw;
    width: 25vw;
    height: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0.8px 0.7px 6.7px hsl(0deg 0% 0% / 0.44);
}



}




@media screen and (min-width: 700px){
    @media  screen and (max-width:1024px) {
       
         .head-logo {
            width: 5vw;
           
            left: 1vw;
          
        }
        .header{
            height: 6vw;
        }
        .clgheading{
            top: 19.5vw;
        }
        .clgheading p{
            width: 90%;
            font-size:7vw ;
            letter-spacing: 5px;
        }
        #moto{
            font-size: 4vw;
            font-weight: 600;
        }
        .selbtn1{
            font-size: 2.5vw;
            width: fit-content;
        }
        #selbtn12{
            font-size: 1.5vw;
            width: fit-content;
        }
        body{
            overflow-x: hidden;
        }
        .team-heads{
            height: auto;
            width: 100vw;
        }
        .team-head{
            left: 0;
            top: 0;
            width: 45vw;
            height: 22vw;
        }
        .position-noel{
            font-size: 2.2vw;
            width: fit-content;
            left: 20vw;
            top: 14vw;
        }
        .head-name-noel{
            top: 5.5vw;
    left: 20vw;
    width: fit-content;
        }
        .team-head img{
            width: 19vw;
            height: 100%;
        }
        .members{
            width: 20vw;
            height: 30vw;
            justify-content: space-between;
        }
        .members img{
            height: 24vw;
        }
        .position{
            width: fit-content;
            height: 3vw;
            font-size: 2vw;
        }
        .head-name{
            width: fit-content;
            font-size: 2vw;
        }
        .prev-batches{
            height: 8vw;
        }
        .prev-batches a{
            width: 18vw;
            height: 5vw;
            font-size: 2.5vw;
        }
        .prev-batches button{
            font-size: 2.5vw;
            width: 20vw;
            height: 5vw;
        }



      
        .foot{
            height: auto;
        }
        .content{
            height: 50vw;
            align-items: normal;
        }
        .addresscont{
            font-size: 2vw;
            height: 40vw;
        }
        .quicklink{
            font-size: 2vw;
            height: 30vw;
        }
        .quicklink a{
            font-size: 2vw;
        }
    
        .location-head{
            font-size: 2vw;
            height: 40vw;
        }
        .majorobj{
            width: 25vw;
            height: 30vw;
        }
        .instalink{
            font-size: 2vw;
        }
        .instalink a{
            font-size: 2vw;
        }
    
    
        .copyright {
            font-size: 2vw;
            color: white;
            position: relative;
            top: -2vw;
            left: 2vw;
            width: fit-content;
        }
        .instalink pre{
            position: relative;
            top: -9vw;
            left: 49vw;
            font-size: 2vw;
        }
}

}
 @media screen and (min-width: 1024px){
  .instalink pre{
    left: 47vw;
  }
 }

